.controller.xbox-old {
    background: url(https://i.imgur.com/xr3sRHM.png);
}

.xbox-old .trigger {
    background: url(https://i.imgur.com/55cE4BY.png);
}
.xbox-old .quadrant {
    background: url(https://i.imgur.com/X3xcwXv.png);
}
