.controller.xbox-old {
    background: url(https://i.imgur.com/kITHiI2.png);
}

.xbox-old .trigger {
    background: url(https://i.imgur.com/55cE4BY.png);
}
.xbox-old .quadrant {
    background: url(https://i.imgur.com/C12XGNn.png);
}
